.item {
  margin: 5px;
  padding: 5px;
  background-color: #447;
  font-size: 1em;
  color: #fff;
  text-align: center;
}

.container {
  height: 400px;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #000;
  justify-content: center; /* eixo principal */
 /* align-items: center; /* eixo secundario */
  align-content: space-between;  /* eixo secundario */
}

.flexivel {
  display: flex;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.quebra {
  flex-wrap: wrap;
}

.fluxo-horizontal-quebra {
  flex-direction: row;
  flex-wrap: wrap;
}
.fluxo-horizontal-sem-quebra {
  flex-flow: row nowrap;
}

.tam0 {
  flex-grow: 0; /* propriedade de item */
}

.tam1 {
  flex-grow: 1;
}

.tam2 {
  flex-grow: 2;
}

.tam3 {
  flex-grow: 3;
}

.basea {
  flex-basis: auto;
}

.base0 {
  flex-basis: 0;
}

.base1 {
  flex-basis: 1;
}

.base2 {
  flex-basis: 2;
}

.base3 {
  flex-basis: 3;
}

.ordem0 {
  order: 0; /* pode usar valores negativos, aplicado nos itens*/
}

.ordem1 {
  order: 1;
}

.ordem2 {
  order: 2;
}

.ordem3 {
  order: 3;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}